.idea/
backend/venv
*.pyo
*.pyc
celerybeat.pid
celerybeat-schedule
**/settings/prod.py
**/settings/api_keys.py
**/node_modules/
backend/topper/static

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
