@import "../../../index";

img {
  border-radius: 50%;
}

.ListItem {
  border-left: 1px solid $gray;
  padding: 25px 0;
}

.Headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color: $title;
  line-height: 30px;
  font-weight: 300;
}

.Title {
  margin-left: 10px;
}

.Service {
  height: 40px;
  position: relative;
  left: -20px;
}

.Info {
  padding: 30px 40px 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 60px;
}

.Details {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 50px;
  font-size: 13px;
}

.Category, .Comments, .Date, .Duration {
  margin-right: 15px;
}
